{{!-- Breadcrumb --}}
{{#if breadcrumb}}
<div class="p-5 bg-body-tertiary mb-4 ">
    <h1 class="fw-bold text-uppercase">{{breadcrumb.title}}</h1>
    <nav class="d-flex">
        <h6 class="mb-0">
            {{#each breadcrumb.links}}
            <span>/</span>
            {{#if this.isUnderline}}
            <a href="{{this.href}}"><u>{{this.name}}</u></a>
            {{else}}
            <a href="{{this.href}}">{{this.name}}</a>
            {{/if}}
            {{/each}}
        </h6>
    </nav>
</div>
{{/if}}
{{!-- Breadcrumb --}}