{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    {{!-- Container wrapper --}}
    <div class="container-fluid">
        {{!-- Toggle button --}}
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        {{!-- Collapsible wrapper --}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{!-- Navbar brand --}}
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="/img/icon/favicon.ico" height="15" alt="MDB Logo" loading="lazy" />
            </a>
            {{!-- Left links --}}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-me">About me</a>
                </li>
            </ul>
            {{!-- Left links --}}
        </div>
        {{!-- Collapsible wrapper --}}

        {{!-- Right elements --}}
        <div class="d-flex align-items-center">
            {{!-- Icon --}}
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>

            {{!-- Notifications --}}
            <div class="dropdown">
                <a data-mdb-dropdown-init class="text-reset me-3 dropdown-toggle hidden-arrow" href="#"
                    id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </div>
            {{!-- Avatar --}}
            <div class="dropdown">
                <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                    id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                    <i class="fas fa-circle-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- Right elements --}}
    </div>
    {{!-- Container wrapper --}}
</nav>
{{!-- Navbar --}}
{{!-- Breadcrumb --}}
{{>breadcrumb}}
{{!-- Breadcrumb --}}