<img
    src='img/background/background.jpg'
    class='img-thumbnail'
    alt='Hollywood Sign on The Hill'
/>
<div class='input-group'>
    <div class='form-outline' data-mdb-input-init>
        <input type='search' id='form1' class='form-control' />
        <label class='form-label' for='form1'>Search</label>
    </div>
    <button
        id='btnsss'
        type='button'
        class='btn btn-primary'
        data-mdb-ripple-init
    >
        <div><i class='fas fa-search'></i></div>
    </button>
</div>

<script>
    document.getElementById("btnsss").addEventListener("click", function(){
    alert("Hello World!") });
</script>